/***** Generics *****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* /reset */

/***** /Generics *****/

/***** setting box container ******/

nav {
  display: flex;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}

aside {
  color: white;
  text-align: center;
  width: 70vh;
  margin: auto;
  padding-bottom: 50px;
}
section {
  display: flex;
  height: 330px;
  align-items: center;
  justify-content: center;
}

footer {
  height: 500px;
  background-color: black;
  color: white;
  padding: 5% 15%;
  display: flex;
  flex-direction: column; /* flex influisce su hr */
}
/***** /setting box container ******/

/***** Content ******/
.box {
  height: 300px;
  width: 300px;
  background-color: rgb(15, 17, 17);
  justify-content: center;
}
.text {
  color: white;
}

/***** /Content ******/

/***** Utilities *****/
section:nth-of-type(2n + 1) {
  background-color: rgba(130, 230, 160, 0.425);
}
header {
  background-color: rgb(255, 0, 0);
}
h1 {
  padding: 30px 0;
}
footer > h3 {
  color: hsl(227deg 58% 65%);
}

/***** /Utilities *****/
